body {
      background-color: powderblue;
}
h1 {
      color: blue;
      font-family: Arial;
      text-align: center;
}
p {
      color: blue;
      font-family: Arial;
      text-align: center;
      margin-left: 2px;
}

.centered {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}


img.center {
display: block;
margin: auto;
}

div.streamerbox {
  border: 3px solid black;
position: static;
text-align: center;
padding: 110px 20px;
float: right;
margin-right: 60px;
}

div.currentlyplaying {
  border: 3px solid black;
  position: static; top: 200px;
  text-align: right;
  float: none;
  margin-top: 200px;
  margin-left: 300px;
  margin-right: 370px;
}

img.streamer {
  width: 200px;
  height: 200px;

  margin-right: 20px;

  display: block;
  border: 5px solid blue;
  border-radius: 10px;
  border-color: blue;
  float: right;
  text-align: center;
}
img.nonon {
  width:100px;
  height:100px;

  display: block;
  margin: auto;
}
#test {
  clear: both;
}
#streamername {
padding: 1px;

}
#foot {
  border: 1px solid blue;
  padding: 10px;
  margin: 50px;
}
#songname {
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#info {
  font-size:12px;
  text-align:left;
  margin-left: 100px;
}
