body {
      background-color: powderblue;
}
h1 {
      color: blue;
      font-family: Arial;
      text-align: center;
}
p {
      border: 1px solid blue;
      padding: 10px;
      margin: 50px;

      color: blue;
      font-family: Arial;
      text-align: center;
}

.centered {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}


img.center {
display: block;
margin: auto;
}

img.streamer {
  width: 200px;
  height: 200px;

  margin: 50px;
  
  display: block;
  border: 5px solid blue;
  border-radius: 10px;
  border-color: blue;
  float: right;
  text-align: center;
}
img.nonon {
  width:100px;
  height:100px;

  display: block;
  margin: auto;
}
#test {
  clear: both;
}
